DATA_DIR=./data
DB_DIR=./db
DB_COLLECTION_NAME=fema_docs

# Probable futures, see Lastpass 
CLIENT_ID=
CLIENT_SECRET=

# The below examples use the OpenAI API, though it's not necessary in general
OPENAI_API_KEY=
OPENAI_CHAT_MODEL="gpt-4o"
OPENAI_EMBEDDING_MODEL="text-embedding-3-large"

CHAINLIT_AUTH_SECRET=
USER_LOGIN=
USER_PWD=

# Deepeval API Key
DEEPEVAL_API_KEY=